# Pandas Excel 데이터 사용하기

In [112]:
import pandas as pd
from pandas import DataFrame
from datetime import datetime, timedelta

print("Excel Read")

Excel Read

In [158]:
xlsx = pd.read_excel('datas.xlsx', 
                    header = None, 
                    skiprows = 2,
                     chunksize = 2,
                    engine = 'openpyxl')

TypeError: read_excel() got an unexpected keyword argument 'index'

# 20180501 ~ 20190430
- [0] 아파트 이름
- [1] 아파트 동
- [2] 아파트 호수

In [99]:
xlsx

,0,1,2,3,4,5,6,7,8,9,...,395,396,397,398,399,400,401,402,403,404
0,- '0시 0분'은 0시0분 ~ 0시 14분 59초 동안 사용한 양을 입력,NaN,NaN,NaN,NaN,NaN,B1,아파트1,아파트1,아파트1,...,아파트4,아파트4,아파트4,아파트4,아파트4,아파트4,아파트4,아파트4,아파트4,아파트4
1,NaN,NaN,NaN,NaN,NaN,NaN,B1_1_동,104,104,104,...,105,103,105,104,103,102,103,101,103,101
2,연/월/일,연,월,일,시,분,B1_1_호수,1206,303,1307,...,102,1102,601,1501,702,104,902,602,905,104
3,20180501,2018,5,1,0,0,NaN,0.085,0.016,0.052,...,0.182,0.044,0.051,0.057,0.126,0.094,0.065,0.116,0.093,0.147
4,20180501,2018,5,1,0,15,NaN,0.086,0.049,0.053,...,0.117,0.06,0.036,0.055,0.116,0.089,0.083,0.113,0.105,0.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35038,20190430,2019,4,30,22,45,NaN,0.007,0.027,0.011,...,0.119,0.087,0.029,0.098,0.075,0.023,0.238,0.363,0.057,0.132
35039,20190430,2019,4,30,23,0,NaN,0.006,0.022,0.014,...,0.148,0.089,0.07,0.09,0.086,0.026,0.242,0.354,0.078,0.122
35040,20190430,2019,4,30,23,15,NaN,0.015,0.024,0.009,...,0.112,0.07,0.039,0.098,0.113,0.037,0.193,0.309,0.041,0.121
35041,20190430,2019,4,30,23,30,NaN,0.023,0.023,0.016,...,0.147,0.084,0.044,0.099,0.071,0.05,0.156,0.259,0.07,0.106
35042,20190430,2019,4,30,23,45,NaN,0.014,0.033,0.009,...,0.101,0.067,0.067,0.038,0.11,0.025,0.128,0.253,0.069,0.109

In [127]:
datas = {};
for col in xlsx:
    if col > 6: # startcol 7
        datas[f'{xlsx[col][0]}-{xlsx[col][1]}-{xlsx[col][2]}'] = xlsx[col][3:]

In [128]:
def datetime_range(start, end, delta):
        current = start
        while current < end:
                yield current
                current += delta
dts = [dt.strftime('%Y%m%d %H:%M') for dt in
            datetime_range(datetime(2018,5,1,0), datetime(2019,5,1,0), timedelta(minutes = 15))]

In [168]:
df = DataFrame(datas)
print(df);

      아파트1-104-1206 아파트1-104-303 아파트1-104-1307 아파트1-104-1208 아파트1-104-408  \
3             0.085        0.016         0.052         0.003        0.032
4             0.086        0.049         0.053         0.002        0.022
5             0.085        0.013         0.073         0.002        0.016
6             0.085        0.043         0.067         0.002        0.015
7             0.084        0.033         0.051         0.003        0.022
...             ...          ...           ...           ...          ...
35038         0.007        0.027         0.011         0.066        0.014
35039         0.006        0.022         0.014         0.063         0.03
35040         0.015        0.024         0.009         0.062         0.03
35041         0.023        0.023         0.016         0.063        0.029
35042         0.014        0.033         0.009         0.053        0.025

      아파트1-104-203 아파트1-103-1402 아파트1-103-402 아파트1-103-1201 아파트1-103-801  ...  \
3            0.074         0.053        0.096         0.105        0.042  ...
4            0.014         0.048         0.09         0.108        0.022  ...
5            0.051         0.029        0.033         0.097        0.046  ...
6            0.015         0.031        0.092         0.048        0.067  ...
7            0.052         0.052         0.03         0.041        0.045  ...
...            ...           ...          ...           ...          ...  ...
35038        0.066         0.066         0.08         0.016        0.058  ...
35039        0.061         0.063        0.215         0.033        0.033  ...
35040        0.064          0.06        0.164         0.051        0.035  ...
35041        0.063         0.038        0.132         0.046        0.081  ...
35042         0.06         0.049        0.187         0.044         0.07  ...

      아파트4-105-102 아파트4-103-1102 아파트4-105-601 아파트4-104-1501 아파트4-103-702  \
3            0.182         0.044        0.051         0.057        0.126
4            0.117          0.06        0.036         0.055        0.116
5            0.147         0.053        0.075         0.032        0.131
6            0.152         0.047        0.064         0.022        0.104
7             0.11         0.042        0.036         0.035        0.104
...            ...           ...          ...           ...          ...
35038        0.119         0.087        0.029         0.098        0.075
35039        0.148         0.089         0.07          0.09        0.086
35040        0.112          0.07        0.039         0.098        0.113
35041        0.147         0.084        0.044         0.099        0.071
35042        0.101         0.067        0.067         0.038         0.11

      아파트4-102-104 아파트4-103-902 아파트4-101-602 아파트4-103-905 아파트4-101-104
3            0.094        0.065        0.116        0.093        0.147
4            0.089        0.083        0.113        0.105         0.13
5            0.055        0.084        0.153        0.119        0.104
6            0.057        0.087        0.149        0.102        0.093
7            0.062        0.087         0.13        0.083        0.093
...            ...          ...          ...          ...          ...
35038        0.023        0.238        0.363        0.057        0.132
35039        0.026        0.242        0.354        0.078        0.122
35040        0.037        0.193        0.309        0.041        0.121
35041         0.05        0.156        0.259         0.07        0.106
35042        0.025        0.128        0.253        0.069        0.109

[35040 rows x 398 columns]

In [169]:
sDatas = datas['아파트1-104-1206']
print(sDatas)

dts = [dt.strftime('%Y%m%d') for dt in
            datetime_range(datetime(2018,5,1,0), datetime(2019,5,1,0), timedelta(days = 1))]
# print(dts)

sData = {};
'''
print(sDatas);
for idx in range(3,len(sDatas),96):
    print(sDatas[idx: idx + 96])
   '''       
# sDf = DataFrame({'value': sData})

3        0.085
4        0.086
5        0.085
6        0.085
7        0.084
         ...
35038    0.007
35039    0.006
35040    0.015
35041    0.023
35042    0.014
Name: 7, Length: 35040, dtype: object
3        0.085
4        0.086
5        0.085
6        0.085
7        0.084
         ...
35038    0.007
35039    0.006
35040    0.015
35041    0.023
35042    0.014
Name: 7, Length: 35040, dtype: object
6      0.085
7      0.084
8      0.085
9      0.084
10     0.084
       ...
97     0.069
98     0.087
99     0.092
100    0.082
101     0.05
Name: 7, Length: 96, dtype: object
102    0.051
103     0.05
104     0.05
105    0.051
106     0.05
       ...
193    0.049
194    0.049
195    0.049
196    0.049
197    0.048
Name: 7, Length: 96, dtype: object
198    0.037
199    0.046
200    0.088
201    0.051
202     0.05
       ...
289    0.069
290    0.064
291    0.083
292    0.085
293    0.077
Name: 7, Length: 96, dtype: object
294    0.064
295    0.074
296    0.085
297    0.084
298    0.065
       ...
385    0.085
386    0.085
387    0.085
388    0.074
389    0.065
Name: 7, Length: 96, dtype: object
390    0.081
391    0.054
392    0.052
393    0.041
394    0.032
       ...
481    0.101
482      0.1
483    0.101
484      0.1
485    0.099
Name: 7, Length: 96, dtype: object
486    0.097
487    0.096
488    0.101
489    0.105
490    0.107
       ...
577    0.087
578    0.085
579      0.1
580    0.117
581    0.078
Name: 7, Length: 96, dtype: object
582    0.052
583    0.051
584    0.032
585    0.044
586    0.051
       ...
673    0.081
674    0.088
675    0.087
676    0.087
677    0.085
Name: 7, Length: 96, dtype: object
678    0.086
679    0.085
680    0.084
681    0.052
682    0.051
       ...
769    0.083
770    0.067
771     0.08
772    0.082
773    0.082
Name: 7, Length: 96, dtype: object
774    0.068
775    0.036
776    0.046
777    0.054
778    0.055
       ...
865     0.08
866    0.091
867     0.09
868    0.089
869    0.089
Name: 7, Length: 96, dtype: object
870    0.053
871    0.052
872    0.052
873    0.052
874    0.052
       ...
961    0.051
962     0.04
963    0.031
964    0.053
965    0.051
Name: 7, Length: 96, dtype: object
966     0.047
967     0.031
968     0.048
969     0.051
970     0.045
        ...
1057     0.03
1058    0.051
1059     0.05
1060     0.05
1061    0.029
Name: 7, Length: 96, dtype: object
1062    0.041
1063     0.05
1064     0.05
1065    0.038
1066    0.033
        ...
1153     0.05
1154    0.049
1155    0.042
1156    0.033
1157    0.051
Name: 7, Length: 96, dtype: object
1158     0.05
1159    0.051
1160    0.037
1161    0.035
1162    0.049
        ...
1249    0.084
1250    0.091
1251    0.113
1252    0.076
1253    0.056
Name: 7, Length: 96, dtype: object
1254    0.059
1255    0.059
1256    0.047
1257    0.055
1258    0.057
        ...
1345     0.05
1346    0.041
1347     0.03
1348    0.051
1349     0.05
Name: 7, Length: 96, dtype: object
1350     0.05
1351    0.031
1352     0.04
1353     0.05
1354     0.05
        ...
1441    0.053
1442    0.053
1443    0.052
1444    0.052
1445    0.052
Name: 7, Length: 96, dtype: object
1446    0.051
1447    0.051
1448     0.05
1449    0.051
1450    0.051
        ...
1537    0.055
1538     0.06
1539    0.058
1540    0.052
1541    0.047
Name: 7, Length: 96, dtype: object
1542    0.056
1543    0.054
1544    0.053
1545    0.053
1546    0.053
        ...
1633    0.051
1634     0.05
1635    0.038
1636     0.04
1637    0.051
Name: 7, Length: 96, dtype: object
1638    0.051
1639    0.051
1640     0.05
1641    0.051
1642    0.045
        ...
1729    0.054
1730    0.055
1731    0.054
1732    0.053
1733    0.054
Name: 7, Length: 96, dtype: object
1734    0.055
1735    0.054
1736     0.04
1737    0.044
1738    0.055
        ...
1825    0.052
1826    0.052
1827    0.052
1828    0.052
1829    0.052
Name: 7, Length: 96, dtype: object
1830    0.052
1831    0.052
1832    0.052
1833    0.052
1834    0.052
        ...
1921    0.052
1922    0.052
1923    0.052
1924    0.052
1925    0.052
Name: 7, Length: 96, dtype: object
1926    0.052
1927    0.052
1928    0.052
1929    0.052
1930    0.052
        ...
2017    0.085
2018    0.084
2019    0.067
2020    0.076
2021    0.085
Name: 7, Length: 96, dtype: object
2022    0.085
2023    0.075
2024    0.067
2025    0.085
2026    0.084
        ...
2113    0.031
2114    0.046
2115    0.051
2116    0.086
2117    0.069
Name: 7, Length: 96, dtype: object
2118    0.051
2119    0.032
2120    0.047
2121    0.051
2122    0.051
        ...
2209    0.052
2210    0.051
2211    0.036
2212    0.038
2213    0.051
Name: 7, Length: 96, dtype: object
2214    0.051
2215    0.038
2216    0.034
2217     0.05
2218    0.053
        ...
2305     0.05
2306    0.049
2307    0.082
2308    0.062
2309    0.052
Name: 7, Length: 96, dtype: object
2310    0.051
2311    0.051
2312    0.042
2313    0.035
2314    0.052
        ...
2401    0.103
2402    0.079
2403    0.082
2404    0.081
2405    0.078
Name: 7, Length: 96, dtype: object
2406    0.069
2407    0.061
2408    0.076
2409    0.059
2410    0.059
        ...
2497    0.054
2498    0.054
2499    0.053
2500    0.054
2501    0.053
Name: 7, Length: 96, dtype: object
2502    0.038
2503    0.042
2504    0.054
2505    0.054
2506    0.053
        ...
2593    0.054
2594    0.055
2595    0.054
2596    0.054
2597    0.054
Name: 7, Length: 96, dtype: object
2598    0.054
2599    0.054
2600     0.08
2601    0.067
2602    0.053
        ...
2689    0.041
2690    0.058
2691     0.06
2692    0.058
2693    0.058
Name: 7, Length: 96, dtype: object
2694    0.055
2695    0.034
2696    0.044
2697    0.051
2698    0.051
        ...
2785    0.116
2786    0.109
2787    0.053
2788    0.051
2789     0.05
Name: 7, Length: 96, dtype: object
2790    0.051
2791    0.051
2792     0.05
2793    0.052
2794    0.051
        ...
2881    0.053
2882    0.072
2883    0.096
2884    0.082
2885    0.064
Name: 7, Length: 96, dtype: object
2886    0.058
2887    0.059
2888    0.058
2889    0.053
2890    0.051
        ...
2977    0.051
2978    0.052
2979    0.051
2980    0.051
2981    0.052
Name: 7, Length: 96, dtype: object
2982    0.051
2983    0.051
2984     0.05
2985    0.051
2986    0.051
        ...
3073    0.055
3074    0.054
3075    0.055
3076    0.055
3077    0.054
Name: 7, Length: 96, dtype: object
3078    0.037
3079    0.049
3080    0.062
3081    0.061
3082    0.044
        ...
3169    0.054
3170    0.054
3171    0.055
3172    0.054
3173    0.055
Name: 7, Length: 96, dtype: object
3174    0.055
3175    0.054
3176    0.037
3177     0.05
3178    0.055
        ...
3265     0.11
3266    0.096
3267    0.064
3268    0.057
3269    0.058
Name: 7, Length: 96, dtype: object
3270    0.056
3271    0.052
3272    0.051
3273    0.051
3274    0.051
        ...
3361    0.077
3362    0.059
3363    0.058
3364    0.058
3365    0.058
Name: 7, Length: 96, dtype: object
3366    0.051
3367    0.053
3368    0.058
3369    0.057
3370    0.057
        ...
3457    0.084
3458    0.084
3459    0.085
3460    0.085
3461    0.084
Name: 7, Length: 96, dtype: object
3462    0.085
3463    0.084
3464    0.084
3465    0.084
3466    0.086
        ...
3553    0.109
3554    0.109
3555    0.101
3556    0.099
3557    0.098
Name: 7, Length: 96, dtype: object
3558    0.098
3559    0.098
3560    0.098
3561    0.098
3562    0.098
        ...
3649    0.067
3650    0.058
3651     0.06
3652    0.065
3653    0.065
Name: 7, Length: 96, dtype: object
3654    0.063
3655    0.063
3656    0.062
3657    0.062
3658    0.062
        ...
3745    0.082
3746    0.081
3747    0.083
3748    0.082
3749    0.085
Name: 7, Length: 96, dtype: object
3750    0.089
3751    0.089
3752    0.072
3753    0.088
3754    0.086
        ...
3841     0.05
3842     0.05
3843     0.05
3844     0.05
3845    0.051
Name: 7, Length: 96, dtype: object
3846     0.05
3847     0.05
3848    0.051
3849     0.05
3850     0.05
        ...
3937    0.097
3938    0.097
3939    0.097
3940    0.097
3941    0.097
Name: 7, Length: 96, dtype: object
3942    0.097
3943    0.097
3944    0.097
3945    0.097
3946    0.097
        ...
4033     0.06
4034    0.059
4035    0.058
4036    0.058
4037    0.058
Name: 7, Length: 96, dtype: object
4038    0.057
4039    0.058
4040    0.058
4041    0.057
4042    0.057
        ...
4129    0.114
4130    0.115
4131    0.111
4132    0.111
4133    0.109
Name: 7, Length: 96, dtype: object
4134    0.111
4135    0.118
4136    0.118
4137    0.118
4138    0.117
        ...
4225    0.039
4226    0.056
4227    0.053
4228    0.053
4229    0.053
Name: 7, Length: 96, dtype: object
4230    0.052
4231    0.051
4232    0.052
4233    0.051
4234    0.051
        ...
4321    0.058
4322    0.058
4323    0.057
4324    0.062
4325    0.063
Name: 7, Length: 96, dtype: object
4326    0.064
4327    0.046
4328    0.062
4329     0.06
4330     0.06
        ...
4417    0.067
4418     0.06
4419     0.06
4420     0.06
4421    0.059
Name: 7, Length: 96, dtype: object
4422     0.06
4423    0.059
4424     0.06
4425    0.059
4426     0.06
        ...
4513    0.059
4514    0.059
4515    0.055
4516    0.056
4517    0.066
Name: 7, Length: 96, dtype: object
4518    0.066
4519    0.066
4520    0.066
4521    0.066
4522    0.066
        ...
4609    0.066
4610    0.066
4611     0.06
4612     0.06
4613     0.06
Name: 7, Length: 96, dtype: object
4614     0.06
4615     0.06
4616     0.06
4617     0.06
4618     0.06
        ...
4705    0.058
4706    0.059
4707    0.058
4708    0.058
4709    0.058
Name: 7, Length: 96, dtype: object
4710    0.058
4711    0.057
4712    0.057
4713    0.057
4714    0.057
        ...
4801    0.082
4802    0.082
4803    0.082
4804    0.082
4805    0.083
Name: 7, Length: 96, dtype: object
4806    0.081
4807    0.082
4808    0.083
4809    0.082
4810    0.081
        ...
4897    0.058
4898    0.056
4899    0.055
4900    0.054
4901    0.055
Name: 7, Length: 96, dtype: object
4902    0.054
4903    0.054
4904    0.054
4905    0.054
4906    0.054
        ...
4993    0.058
4994    0.057
4995    0.061
4996    0.062
4997    0.062
Name: 7, Length: 96, dtype: object
4998    0.045
4999    0.062
5000     0.06
5001    0.058
5002    0.058
        ...
5089    0.116
5090    0.118
5091    0.118
5092    0.118
5093    0.117
Name: 7, Length: 96, dtype: object
5094    0.112
5095    0.113
5096    0.111
5097    0.112
5098    0.069
        ...
5185    0.055
5186    0.054
5187    0.055
5188    0.055
5189    0.054
Name: 7, Length: 96, dtype: object
5190    0.055
5191    0.055
5192    0.055
5193    0.055
5194    0.054
        ...
5281    0.089
5282    0.092
5283    0.068
5284    0.059
5285    0.058
Name: 7, Length: 96, dtype: object
5286    0.059
5287    0.058
5288    0.058
5289    0.059
5290    0.058
        ...
5377    0.317
5378    0.321
5379     0.22
5380    0.259
5381    0.061
Name: 7, Length: 96, dtype: object
5382     0.06
5383    0.059
5384     0.06
5385    0.059
5386     0.06
        ...
5473    0.076
5474    0.076
5475    0.076
5476    0.076
5477    0.076
Name: 7, Length: 96, dtype: object
5478    0.075
5479    0.077
5480    0.076
5481    0.076
5482    0.076
        ...
5569    0.084
5570    0.085
5571    0.083
5572    0.083
5573    0.083
Name: 7, Length: 96, dtype: object
5574    0.082
5575    0.083
5576    0.082
5577    0.082
5578    0.083
        ...
5665    0.087
5666      0.1
5667    0.327
5668    0.242
5669    0.164
Name: 7, Length: 96, dtype: object
5670    0.061
5671     0.06
5672    0.061
5673     0.06
5674     0.06
        ...
5761    0.086
5762     0.07
5763    0.085
5764    0.084
5765    0.082
Name: 7, Length: 96, dtype: object
5766    0.084
5767    0.082
5768    0.082
5769    0.081
5770    0.082
        ...
5857    0.049
5858     0.05
5859    0.049
5860     0.05
5861    0.049
Name: 7, Length: 96, dtype: object
5862    0.054
5863    0.055
5864    0.055
5865    0.039
5866    0.055
        ...
5953    0.049
5954     0.05
5955     0.05
5956     0.05
5957    0.048
Name: 7, Length: 96, dtype: object
5958     0.03
5959    0.049
5960     0.05
5961    0.051
5962     0.05
        ...
6049     0.06
6050     0.06
6051     0.06
6052     0.06
6053     0.06
Name: 7, Length: 96, dtype: object
6054    0.059
6055    0.131
6056    0.277
6057    0.247
6058    0.214
        ...
6145     0.08
6146     0.08
6147    0.081
6148     0.08
6149    0.081
Name: 7, Length: 96, dtype: object
6150     0.08
6151    0.081
6152    0.081
6153    0.081
6154    0.081
        ...
6241    0.081
6242    0.081
6243    0.082
6244    0.081
6245    0.082
Name: 7, Length: 96, dtype: object
6246    0.082
6247    0.081
6248    0.081
6249    0.083
6250    0.205
        ...
6337     0.06
6338     0.06
6339     0.06
6340     0.06
6341    0.061
Name: 7, Length: 96, dtype: object
6342     0.24
6343    0.319
6344    0.317
6345    0.316
6346    0.126
        ...
6433    0.083
6434    0.083
6435    0.081
6436    0.082
6437    0.082
Name: 7, Length: 96, dtype: object
6438    0.082
6439    0.081
6440    0.082
6441    0.082
6442    0.081
        ...
6529    0.082
6530    0.082
6531    0.068
6532    0.079
6533     0.08
Name: 7, Length: 96, dtype: object
6534    0.079
6535    0.078
6536    0.079
6537    0.078
6538    0.078
        ...
6625    0.247
6626    0.261
6627    0.216
6628    0.192
6629    0.181
Name: 7, Length: 96, dtype: object
6630    0.164
6631    0.181
6632    0.183
6633    0.162
6634    0.174
        ...
6721    0.081
6722     0.08
6723    0.081
6724    0.081
6725    0.084
Name: 7, Length: 96, dtype: object
6726    0.262
6727    0.296
6728    0.228
6729    0.127
6730    0.074
        ...
6817    0.081
6818    0.081
6819    0.082
6820    0.081
6821    0.081
Name: 7, Length: 96, dtype: object
6822    0.081
6823    0.176
6824     0.32
6825    0.323
6826    0.321
        ...
6913    0.076
6914    0.077
6915    0.077
6916    0.077
6917    0.076
Name: 7, Length: 96, dtype: object
6918    0.076
6919     0.09
6920    0.336
6921    0.324
6922    0.324
        ...
7009    0.051
7010     0.05
7011     0.05
7012    0.051
7013     0.05
Name: 7, Length: 96, dtype: object
7014    0.234
7015    0.329
7016     0.32
7017    0.323
7018    0.319
        ...
7105    0.081
7106    0.082
7107    0.081
7108    0.081
7109    0.081
Name: 7, Length: 96, dtype: object
7110    0.081
7111     0.08
7112    0.082
7113    0.081
7114    0.081
        ...
7201    0.101
7202    0.102
7203    0.101
7204    0.102
7205    0.102
Name: 7, Length: 96, dtype: object
7206    0.102
7207    0.101
7208    0.102
7209    0.101
7210    0.102
        ...
7297    0.056
7298    0.056
7299    0.055
7300    0.055
7301    0.055
Name: 7, Length: 96, dtype: object
7302    0.055
7303    0.054
7304    0.055
7305    0.055
7306    0.054
        ...
7393     0.08
7394    0.082
7395    0.084
7396    0.085
7397    0.073
Name: 7, Length: 96, dtype: object
7398    0.081
7399    0.084
7400    0.083
7401    0.083
7402    0.083
        ...
7489    0.104
7490    0.057
7491    0.056
7492    0.256
7493    0.318
Name: 7, Length: 96, dtype: object
7494    0.317
7495    0.319
7496     0.11
7497    0.061
7498    0.061
        ...
7585    0.336
7586    0.289
7587    0.319
7588    0.318
7589    0.318
Name: 7, Length: 96, dtype: object
7590    0.253
7591    0.056
7592    0.057
7593    0.087
7594    0.312
        ...
7681    0.369
7682    0.354
7683    0.326
7684    0.322
7685    0.321
Name: 7, Length: 96, dtype: object
7686    0.271
7687    0.129
7688    0.057
7689    0.057
7690    0.056
        ...
7777    0.051
7778    0.051
7779    0.051
7780     0.05
7781    0.051
Name: 7, Length: 96, dtype: object
7782    0.051
7783    0.055
7784     0.07
7785    0.057
7786    0.057
        ...
7873    0.059
7874    0.058
7875    0.059
7876    0.058
7877    0.058
Name: 7, Length: 96, dtype: object
7878    0.059
7879    0.057
7880    0.059
7881    0.057
7882    0.058
        ...
7969    0.081
7970    0.081
7971    0.081
7972    0.082
7973     0.08
Name: 7, Length: 96, dtype: object
7974    0.082
7975     0.08
7976    0.081
7977     0.08
7978    0.081
        ...
8065    0.078
8066    0.077
8067    0.077
8068    0.077
8069    0.077
Name: 7, Length: 96, dtype: object
8070    0.078
8071    0.077
8072    0.077
8073    0.077
8074    0.164
        ...
8161    0.359
8162    0.374
8163    0.365
8164    0.343
8165    0.343
Name: 7, Length: 96, dtype: object
8166    0.343
8167    0.341
8168    0.341
8169    0.342
8170     0.34
        ...
8257    0.083
8258    0.082
8259    0.083
8260    0.086
8261    0.086
Name: 7, Length: 96, dtype: object
8262    0.077
8263     0.08
8264    0.151
8265    0.335
8266    0.338
        ...
8353    0.331
8354    0.333
8355    0.332
8356    0.333
8357    0.332
Name: 7, Length: 96, dtype: object
8358    0.334
8359    0.332
8360      0.3
8361    0.059
8362    0.062
        ...
8449    0.054
8450    0.055
8451    0.054
8452    0.054
8453    0.054
Name: 7, Length: 96, dtype: object
8454    0.055
8455    0.054
8456    0.054
8457    0.055
8458    0.054
        ...
8545    0.051
8546     0.05
8547    0.051
8548     0.05
8549    0.051
Name: 7, Length: 96, dtype: object
8550     0.05
8551    0.051
8552     0.05
8553    0.051
8554     0.05
        ...
8641    0.058
8642    0.057
8643    0.058
8644    0.059
8645    0.058
Name: 7, Length: 96, dtype: object
8646    0.058
8647    0.058
8648    0.058
8649    0.059
8650    0.058
        ...
8737    0.051
8738    0.051
8739    0.052
8740    0.051
8741    0.051
Name: 7, Length: 96, dtype: object
8742    0.069
8743    0.385
8744    0.387
8745    0.379
8746    0.357
        ...
8833    0.354
8834    0.353
8835    0.354
8836    0.354
8837    0.352
Name: 7, Length: 96, dtype: object
8838    0.351
8839    0.352
8840    0.349
8841    0.351
8842     0.35
        ...
8929    0.388
8930    0.388
8931    0.406
8932    0.185
8933    0.085
Name: 7, Length: 96, dtype: object
8934    0.259
8935     0.36
8936    0.359
8937    0.359
8938    0.355
        ...
9025    0.162
9026    0.064
9027    0.351
9028    0.364
9029    0.347
Name: 7, Length: 96, dtype: object
9030    0.362
9031    0.359
9032    0.358
9033    0.357
9034    0.355
        ...
9121    0.056
9122    0.056
9123    0.056
9124    0.056
9125    0.057
Name: 7, Length: 96, dtype: object
9126    0.056
9127    0.056
9128     0.06
9129     0.06
9130    0.055
        ...
9217    0.056
9218    0.056
9219    0.057
9220    0.056
9221    0.057
Name: 7, Length: 96, dtype: object
9222    0.056
9223    0.056
9224    0.057
9225    0.056
9226    0.056
        ...
9313    0.374
9314    0.414
9315    0.345
9316    0.333
9317    0.326
Name: 7, Length: 96, dtype: object
9318    0.334
9319    0.324
9320    0.332
9321    0.324
9322    0.324
        ...
9409    0.377
9410    0.375
9411     0.32
9412    0.349
9413    0.348
Name: 7, Length: 96, dtype: object
9414    0.181
9415    0.337
9416    0.192
9417    0.233
9418    0.256
        ...
9505    0.295
9506    0.162
9507    0.282
9508    0.274
9509    0.336
Name: 7, Length: 96, dtype: object
9510     0.33
9511    0.224
9512    0.225
9513     0.34
9514    0.277
        ...
9601    0.376
9602    0.362
9603    0.353
9604     0.34
9605    0.329
Name: 7, Length: 96, dtype: object
9606    0.286
9607    0.329
9608    0.338
9609    0.328
9610    0.215
        ...
9697    0.082
9698    0.083
9699    0.082
9700    0.082
9701    0.082
Name: 7, Length: 96, dtype: object
9702    0.082
9703    0.082
9704    0.081
9705    0.081
9706    0.082
        ...
9793    0.351
9794    0.363
9795    0.377
9796    0.377
9797    0.374
Name: 7, Length: 96, dtype: object
9798    0.377
9799    0.256
9800    0.341
9801    0.294
9802    0.338
        ...
9889    0.052
9890    0.052
9891    0.044
9892    0.052
9893    0.055
Name: 7, Length: 96, dtype: object
9894    0.056
9895    0.054
9896    0.042
9897    0.055
9898    0.055
        ...
9985    0.365
9986    0.365
9987    0.145
9988    0.088
9989    0.241
Name: 7, Length: 96, dtype: object
9990     0.331
9991     0.332
9992     0.331
9993     0.331
9994     0.331
         ...
10081    0.052
10082    0.045
10083    0.053
10084    0.052
10085    0.046
Name: 7, Length: 96, dtype: object
10086    0.052
10087    0.045
10088    0.052
10089    0.052

Name: 7, Length: 96, dtype: object
29862    0.034
29863     0.05
29864    0.047
29865    0.031
29866    0.031
         ...
29953    0.059
29954    0.062
29955    0.059
29956    0.052
29957    0.038
Name: 7, Length: 96, dtype: object
29958    0.025
29959    0.012
29960     0.03
29961    0.029
29962    0.018
         ...
30049    0.075
30050    0.071
30051     0.08
30052    0.079
30053    0.073
Name: 7, Length: 96, dtype: object
30054    0.072
30055    0.071
30056    0.071
30057    0.073
30058     0.07
         ...
30145    0.103
30146    0.055
30147    0.013
30148    0.013
30149    0.013
Name: 7, Length: 96, dtype: object
30150    0.029
30151    0.037
30152    0.016
30153    0.012
30154    0.013
         ...
30241    0.029
30242     0.02
30243    0.013
30244    0.021
30245    0.012
Name: 7, Length: 96, dtype: object
30246    0.026
30247    0.029
30248    0.024
30249    0.013
30250    0.013
         ...
30337     0.03
30338    0.034
30339    0.035
30340    0.052
30341    0.046
Name: 7, Length: 96, dtype: object
30342    0.032
30343    0.033
30344    0.028
30345     0.02
30346    0.029
         ...
30433    0.024
30434    0.015
30435    0.007
30436    0.007
30437    0.007
Name: 7, Length: 96, dtype: object
30438    0.013
30439    0.024
30440    0.013
30441    0.007
30442    0.007
         ...
30529     0.01
30530    0.007
30531    0.007
30532    0.013
30533    0.024
Name: 7, Length: 96, dtype: object
30534     0.02
30535    0.007
30536    0.007
30537    0.007
30538    0.018
         ...
30625     0.02
30626    0.007
30627    0.008
30628    0.007
30629    0.007
Name: 7, Length: 96, dtype: object
30630    0.024
30631    0.019
30632    0.008
30633    0.007
30634    0.007
         ...
30721    0.049
30722    0.077
30723    0.071
30724    0.054
30725    0.041
Name: 7, Length: 96, dtype: object
30726    0.041
30727    0.047
30728     0.07
30729    0.054
30730    0.043
         ...
30817    0.056
30818    0.061
30819     0.05
30820    0.041
30821     0.04
Name: 7, Length: 96, dtype: object
30822    0.009
30823    0.041
30824    0.043
30825    0.027
30826    0.026
         ...
30913    0.049
30914    0.057
30915    0.044
30916    0.017
30917    0.008
Name: 7, Length: 96, dtype: object
30918    0.008
30919    0.023
30920    0.023
30921    0.009
30922    0.008
         ...
31009    0.013
31010    0.015
31011    0.126
31012    0.049
31013    0.044
Name: 7, Length: 96, dtype: object
31014     0.05
31015    0.042
31016    0.033
31017    0.031
31018    0.038
         ...
31105    0.041
31106    0.025
31107    0.028
31108    0.023
31109    0.016
Name: 7, Length: 96, dtype: object
31110    0.006
31111    0.015
31112    0.007
31113    0.022
31114    0.023
         ...
31201     0.02
31202    0.014
31203    0.007
31204    0.007
31205    0.024
Name: 7, Length: 96, dtype: object
31206     0.03
31207    0.015
31208    0.007
31209    0.007
31210    0.014
         ...
31297    0.024
31298    0.023
31299    0.013
31300    0.007
31301    0.007
Name: 7, Length: 96, dtype: object
31302    0.008
31303    0.025
31304    0.023
31305    0.009
31306    0.007
         ...
31393    0.064
31394    0.086
31395    0.087
31396    0.084
31397    0.072
Name: 7, Length: 96, dtype: object
31398    0.068
31399    0.072
31400    0.071
31401    0.086
31402    0.081
         ...
31489    0.052
31490    0.035
31491    0.031
31492    0.019
31493    0.016
Name: 7, Length: 96, dtype: object
31494    0.015
31495    0.017
31496    0.034
31497     0.03
31498    0.016
         ...
31585    0.077
31586    0.068
31587    0.058
31588    0.077
31589    0.076
Name: 7, Length: 96, dtype: object
31590    0.068
31591     0.06
31592     0.05
31593    0.024
31594    0.032
         ...
31681     0.06
31682    0.057
31683    0.053
31684    0.025
31685    0.032
Name: 7, Length: 96, dtype: object
31686    0.024
31687    0.016
31688    0.015
31689    0.016
31690    0.027
         ...
31777    0.015
31778    0.016
31779    0.017
31780    0.033
31781    0.027
Name: 7, Length: 96, dtype: object
31782    0.015
31783    0.016
31784    0.015
31785    0.022
31786    0.032
         ...
31873    0.083
31874    0.066
31875    0.017
31876    0.016
31877    0.016
Name: 7, Length: 96, dtype: object
31878    0.031
31879     0.03
31880    0.016
31881    0.016
31882    0.016
         ...
31969    0.067
31970    0.065
31971    0.064
31972    0.081
31973    0.079
Name: 7, Length: 96, dtype: object
31974    0.053
31975    0.048
31976    0.029
31977    0.018
31978    0.033
         ...
32065    0.065
32066    0.054
32067    0.071
32068    0.064
32069    0.073
Name: 7, Length: 96, dtype: object
32070    0.062
32071    0.055
32072    0.032
32073    0.016
32074     0.02
         ...
32161    0.053
32162    0.007
32163    0.007
32164    0.016
32165    0.024
Name: 7, Length: 96, dtype: object
32166    0.014
32167    0.007
32168    0.007
32169    0.007
32170    0.024
         ...
32257     0.06
32258    0.026
32259    0.013
32260    0.011
32261     0.01
Name: 7, Length: 96, dtype: object
32262    0.014
32263    0.028
32264    0.026
32265    0.011
32266     0.01
         ...
32353    0.054
32354    0.054
32355    0.065
32356    0.049
32357    0.017
Name: 7, Length: 96, dtype: object
32358    0.006
32359    0.007
32360    0.007
32361     0.02
32362    0.024
         ...
32449     0.06
32450    0.053
32451    0.031
32452    0.007
32453    0.007
Name: 7, Length: 96, dtype: object
32454    0.007
32455    0.024
32456    0.024
32457    0.009
32458    0.007
         ...
32545    0.026
32546    0.027
32547    0.034
32548    0.043
32549    0.039
Name: 7, Length: 96, dtype: object
32550    0.027
32551    0.026
32552    0.021
32553    0.019
32554    0.024
         ...
32641     0.02
32642    0.011
32643     0.01
32644     0.01
32645    0.018
Name: 7, Length: 96, dtype: object
32646    0.027
32647    0.017
32648    0.009
32649    0.009
32650    0.008
         ...
32737    0.017
32738    0.032
32739    0.033
32740    0.022
32741    0.017
Name: 7, Length: 96, dtype: object
32742    0.017
32743    0.019
32744    0.035
32745    0.033
32746    0.017
         ...
32833    0.075
32834    0.053
32835    0.022
32836    0.016
32837     0.02
Name: 7, Length: 96, dtype: object
32838    0.033
32839    0.032
32840    0.024
32841    0.016
32842    0.016
         ...
32929    0.015
32930    0.015
32931    0.022
32932    0.032
32933    0.028
Name: 7, Length: 96, dtype: object
32934    0.015
32935    0.015
32936    0.015
32937    0.027
32938    0.032
         ...
33025    0.051
33026    0.016
33027    0.015
33028    0.016
33029    0.029
Name: 7, Length: 96, dtype: object
33030    0.032
33031    0.017
33032    0.016
33033    0.015
33034    0.016
         ...
33121    0.016
33122    0.017
33123    0.033
33124    0.031
33125    0.016
Name: 7, Length: 96, dtype: object
33126    0.015
33127    0.016
33128    0.021
33129    0.032
33130    0.029
         ...
33217    0.055
33218    0.044
33219    0.015
33220    0.033
33221    0.032
Name: 7, Length: 96, dtype: object
33222    0.015
33223    0.015
33224    0.016
33225    0.021
33226    0.032
         ...
33313    0.047
33314    0.055
33315    0.049
33316    0.066
33317    0.062
Name: 7, Length: 96, dtype: object
33318     0.05
33319    0.015
33320    0.016
33321    0.032
33322    0.031
         ...
33409    0.065
33410    0.059
33411    0.079
33412    0.087
33413    0.071
Name: 7, Length: 96, dtype: object
33414    0.071
33415    0.071
33416    0.067
33417    0.073
33418    0.065
         ...
33505    0.032
33506    0.017
33507    0.015
33508    0.015
33509    0.015
Name: 7, Length: 96, dtype: object
33510     0.03
33511    0.031
33512    0.024
33513    0.015
33514    0.015
         ...
33601    0.041
33602    0.022
33603    0.007
33604    0.007
33605    0.007
Name: 7, Length: 96, dtype: object
33606    0.021
33607    0.023
33608    0.007
33609    0.007
33610    0.007
         ...
33697    0.055
33698    0.054
33699     0.03
33700    0.024
33701    0.012
Name: 7, Length: 96, dtype: object
33702    0.007
33703    0.007
33704    0.007
33705    0.026
33706    0.021
         ...
33793    0.049
33794    0.055
33795    0.052
33796    0.023
33797    0.007
Name: 7, Length: 96, dtype: object
33798    0.007
33799    0.007
33800    0.015
33801    0.024
33802    0.017
         ...
33889    0.039
33890    0.041
33891    0.031
33892    0.023
33893    0.008
Name: 7, Length: 96, dtype: object
33894    0.007
33895    0.006
33896    0.013
33897    0.023
33898    0.019
         ...
33985    0.007
33986    0.007
33987    0.023
33988    0.023
33989    0.007
Name: 7, Length: 96, dtype: object
33990    0.007
33991    0.006
33992    0.015
33993    0.033
33994    0.017
         ...
34081    0.058
34082    0.053
34083    0.042
34084    0.042
34085     0.04
Name: 7, Length: 96, dtype: object
34086    0.058
34087    0.073
34088    0.053
34089    0.039
34090    0.044
         ...
34177    0.028
34178    0.007
34179    0.007
34180    0.008
34181    0.025
Name: 7, Length: 96, dtype: object
34182     0.02
34183    0.007
34184    0.007
34185    0.007
34186    0.017
         ...
34273    0.007
34274    0.007
34275    0.007
34276    0.021
34277    0.023
Name: 7, Length: 96, dtype: object
34278    0.012
34279    0.007
34280    0.007
34281     0.01
34282    0.025
         ...
34369    0.007
34370    0.007
34371     0.01
34372    0.025
34373    0.023
Name: 7, Length: 96, dtype: object
34374    0.008
34375    0.008
34376    0.007
34377    0.024
34378    0.023
         ...
34465    0.068
34466    0.058
34467    0.053
34468    0.044
34469     0.03
Name: 7, Length: 96, dtype: object
34470    0.022
34471    0.024
34472    0.014
34473    0.007
34474    0.007
         ...
34561    0.048
34562    0.059
34563     0.05
34564    0.043
34565    0.042
Name: 7, Length: 96, dtype: object
34566    0.029
34567    0.025
34568    0.023
34569    0.007
34570    0.008
         ...
34657    0.055
34658    0.042
34659    0.057
34660     0.05
34661    0.016
Name: 7, Length: 96, dtype: object
34662    0.007
34663    0.007
34664    0.007
34665    0.007
34666    0.025
         ...
34753    0.069
34754    0.066
34755    0.067
34756    0.065
34757    0.083
Name: 7, Length: 96, dtype: object
34758    0.075
34759    0.065
34760    0.062
34761    0.065
34762    0.075
         ...
34849    0.011
34850    0.024
34851    0.022
34852    0.008
34853    0.007
Name: 7, Length: 96, dtype: object
34854    0.019
34855    0.024
34856    0.015
34857    0.007
34858    0.007
         ...
34945    0.055
34946    0.019
34947    0.009
34948    0.007
34949    0.007
Name: 7, Length: 96, dtype: object
34950    0.022
34951    0.023
34952    0.008
34953    0.006
34954    0.007
         ...
35038    0.007
35039    0.006
35040    0.015
35041    0.023
35042    0.014
Name: 7, Length: 93, dtype: object